.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    /* background-color: burlywood; */
}

li {
    list-style: none;
}


.login-wrap {
    position: absolute;
    margin-top: -120px;
    width: 100%;
    height: 1045px;
    /* background: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom, right bottom;
    background-size: 620px, 620px, cover;
    background-image: url(../public/bg-left.svg), url(../public/bg-right.svg);
    /* background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: left bottom, right bottom; */
}

.login-wrap .ant-form-item-explain-error {
    text-align: left;
}

.css-Jira {
    position: absolute;
    top: 140px;
    width: 100%;
    height: 100px;
    background: url(../public/Jira.svg) center center /5% no-repeat;
}

.login-box-wrap {
    margin-top: 0;
    padding: 60px;
    width: 23%;
    height: 560px;
    text-align: center;
    border-radius: 0.3rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    /* background: red; */
}

/* 自己手写的登录选项卡的样式（未启用） */
/* .login-box-header {
    display: flex;
    padding: 0;
    height: 38px;
    line-height: 38px;
} */

.switch {
    width: 50%;
    height: 52px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #5e6c84;
    border: none;
    background-color: #fff;
    cursor: pointer;
}


/* 修改antd 登录选项卡样式 */
.ant-menu-vertical {
    display: flex;
    justify-content: space-around;
}


.login-box-p {
    margin: 24px 0 0;
    font-size: 16px;
    text-align: center;
    color: black;
}


/* identifing获取验证码部分 */
.identifing-wrap {
    position: relative;
}

.identifing-p {
    position: absolute;
    top: 6px;
    right: 10px;
    margin: 0;
    font-size: 13px;
    cursor: pointer;
}




.login-button {
    width: 100%;
    background-color: #0052cc;
    color: #fff;
    font-size: 16px;
}

.login-enroll {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #0052cc;
}

/* layout容器布局 */
/* .layout-wrap {
    height: 100%;
} */



/* 项目Layout主页面 头部板块 */
.layout-wrap {
    display: flex;
    flex-direction: column;
    height: 97vh;
}

.header-wrap {
    /* display: flex; */
    width: 100%;
    height: 60px;
}

.header-wrap h2 {
    margin: 0 10px 0;
    font-size: 24px;
}

.header-wrap-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 370px; */
    height: 60px;
    margin-left: 20px;
}

.header-wrap-left {
    /* display: flex; */
}

.header-logo {
    width: 160px;
    border-radius: 50%;
    margin-right: 20px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 212px; */
    height: 60px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.header-login-out-btn {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: blue;

}

.icon-blue {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 6px solid #0052cc;
    transform: rotate(45deg);
}

.header-button h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
}

.project-btn {
    line-height: 60px;
}

.header-login-out-btn {
    /* flex- */
    margin-right: 30px;
    padding: 4px 8px;
    cursor: pointer;
    background: rgb(211, 95, 186);
    color: #fff;
    border-radius: 5px;
    /* align-items: ; */
}


.project-create {
    width: 180px;
    font-size: 16px;
}

.project-listItem {
    font-size: 18px;
    padding-bottom: 5px;
}

.project-create-name {
    color: #0052cc;
}

.user-listItem {
    padding-bottom: 2px;
    font-size: 16px;
}

/* 项目Layout主页面  body部分（包括侧边栏 和 内容） */
.layout-wrap-body {
    display: flex;
    height: 100%;
}

/* 项目Layout主页面 左侧边栏板块 */
.layout-wrap-project {
    display: flex;
    height: 100%;
    /* border-right: 1px solid #f0f0f0; */
}

/* 左侧边栏 */
.project-side-menu-wrap {
    min-width: 200px;
    /* background: #ccc; */
    height: 100%;
}

.left-menu {
    width: 200px;
}

.link-title:hover {
    color: #0052cc !important;
}

.active {
    color: #0052cc !important;
}

.ant-menu-title-content {
    font-size: 16px;
}




/* 项目Layout主页面 内容板块 */
.project-wrap {
    /* display: none; */
    /* display: flex; */
    height: 100%;
    width: 100%;
    /* overflow-x: scroll; */
    box-shadow: rgb(0 0 0 / 10%) -5px 0px 5px -5px;
}


/* project项目容器 */
.project-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0 0 32px;
    width: 97%;
}

.project-title-wrap h1 {
    margin: 0;
    font-size: 28px;
}

.project-title-wrap button {
    margin-right: 10px;
    font-size: 16px;
    color: #0052cc;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.project-search-wrap {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    margin: 0 0 20px;
}

.search-wrap-input {
    display: block;
    margin: 20px 20px 20px 0;
    width: 204px;
    height: 32px;
    padding: 2px 10px;
    letter-spacing: 1px;
    font-size: 16px;
}

.search-wrap-select {
    display: block;
    /* width: 94px !important; */
    height: 32px;

}


/* 表格 */
.project-table-wrap {
    margin-left: 32px;
    width: 97%;
}

.project-table-css th,
.project-table-css td {
    height: 63px;
    font-size: 16px;
}

.project-table-css tr td:nth-child(2) {
    background-color: #fafafa;
}

.icon-shoucang {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #dfd6d6e1;
    cursor: pointer;
}

.icon-shoucang-first:hover {
    transform: none;
}

.shoucang-item:hover {
    transform: scale(1.2);
    color: #dfd50c;
}



/* .project-table-wrap {} */

/* 看板内容 */
.kanban-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.kanban-title {
    display: flex;
    font-size: 16px;
}

.kanban-search-wrap {
    margin-bottom: 20px;
}



/* search-form */
.search-form-wrap {
    display: flex;
    margin: 0 0 40px;
}

.search-form-input {
    display: block;
    margin-right: 15px;
    width: 204px;
    height: 32px;
    padding: 2px 10px;
    letter-spacing: 1px;
    font-size: 16px;
}

.search-form-select {
    width: 120px;
}





/* epic 任务组 */
.epic-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.epic-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.epic-title-h1 {
    margin: 0;
}

.epic-title-button {
    margin-right: 10px;
    font-size: 16px;
    color: #0052cc;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

/* antd列表样式修改 */
.ant-list-item-meta-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.ant-list-item-meta-content h4 {
    text-align: left;
}

.ant-list-item-meta-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-item-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.list-item-title button {
    padding: 2px 15px;
    font-size: 16px;
    color: #0052cc;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.kanban-dropp-wrap {
    display: flex;
}